@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background: #01010e;
  background: linear-gradient(180deg, #01010e 0%, #020024 21%, #9600cd 99%, #c200ff 100%);
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.title {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 447px) {
  .title {
    font-size: 20px;
  }
}

.city-name {
  color: salmon;
  font-weight: 300;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1614px) {
  .cart {
    margin-top: 40px;
  }
}

@media (max-width: 1104px) {
  .cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
  }
}

@media (max-width: 483px) {
  .cart {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px) {
  .cart {
    grid-template-columns: repeat(auto-fill, 173px);
    margin: 0;
    width: 100%;
  }
}

.cart .cart__item {
  background-color: rgba(139, 128, 128, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 300px;
  min-height: 400px;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  transition: all 0.2s;
}

@media (max-width: 1614px) {
  .cart .cart__item {
    min-width: 200px;
    min-height: 300px;
    font-size: 15px;
  }
}

@media (max-width: 1104px) {
  .cart .cart__item {
    margin: 10px;
  }
}

@media (max-width: 375px) {
  .cart .cart__item {
    min-width: 150px;
    min-height: 150px;
  }
  .cart .cart__item .cart__item-weather {
    font-size: 10px;
  }
}

.cart .cart__item-day {
  font-size: 30px;
}

@media (max-width: 1614px) {
  .cart .cart__item-day {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .cart .cart__item-day {
    font-size: 15px;
  }
}

.content__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__top .search__city-input {
  margin-top: 20px;
  min-width: 700px;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 717px) {
  .content__top .search__city-input {
    min-width: 500px;
  }
}

@media (max-width: 717px) {
  .content__top .search__city-input {
    min-width: 400px;
  }
}

@media (max-width: 447px) {
  .content__top .search__city-input {
    min-width: 300px;
  }
  .content__top .search__city-input::placeholder {
    font-size: 10px;
  }
}
