.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  @media(max-width:1614px) {
    margin-top: 40px;
  }
  @media(max-width:1104px) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 100px;
  }

  @media(max-width:483px) {
    grid-template-columns: repeat(1,1fr);

  }
  .cart__item {
    background-color: rgba(139, 128, 128, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 300px;
    min-height: 400px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    transition: all 0.2s;
    @media(max-width:1614px) {
      min-width: 200px;
      min-height: 300px;
      font-size: 15px;
    }
    @media(max-width:1104px) {

    }
 
    &:not(:last-child) {
      margin-right: 20px;

      @media(max-width:1104px) {
        margin-right: 0;
        margin: 10px;
      }
    }
    @media(max-width:1104px) {
      margin: 10px;
    }
    &:hover {
      cursor: pointer;
      svg path {
        stroke: red;
        stroke-width: inherit;
        fill: inherit;
      }
    }
  }

  .cart__item-day {
    font-size: 30px;

    @media(max-width:1614px) {
      font-size: 20px;
    }
  }
}
