.cart {

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 20px;
  margin-bottom: 100px;

  @media (max-width: 1104px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 483px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (max-width: 375px) {
    justify-content: baseline;
    grid-template-columns: repeat(auto-fill, 151px);
    width: 100%;
  }
  .cart__item {
    background-color: rgba(139, 128, 128, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 300px;
    min-height: 400px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    transition: all 0.2s;
    margin: 5px;

    @media (max-width: 1614px) {
      min-width: 200px;
      min-height: 300px;
      font-size: 15px;
    }
   
   
    @media (max-width: 375px) {
      min-width: 100px;
      width: 147px;
      min-height: 70px;
      height: 110px;
      height: 145px;
      .cart__item-weather {
        font-size: 10px;
      }
    }
  }

  .cart__item-day {
    font-size: 30px;

    @media (max-width: 1614px) {
      font-size: 20px;
    }

    @media (max-width: 375px) {
      font-size: 15px;
    }
  }
}
