

.content__top{
    // margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .search__city-input{
        margin-top: 20px;
        min-width: 700px;
        padding: 10px;
        border-radius: 5px;

        @media(max-width:717px) {
            min-width: 500px;
        }
        @media(max-width:717px) {
            min-width: 400px;
        }
        @media(max-width:447px) {
            min-width: 300px;

            &::placeholder{
                font-size: 10px;
            }
        }
    }
}

